* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: cursive,
 } 

body {
    font-family: cursive;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-top: 55px;
    margin-bottom: 70px;
    color: black;
}

.header {
    text-align: center;
    align-items: center;
    background-color: #F5F5DC; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -99999999; 
    background-image: linear-gradient(95deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(https://images.pexels.com/photos/6492401/pexels-photo-6492401.jpeg?auto=compress&cs=tinysrgb&w=600)
}

.nav-button {
    text-align: center;  
    align-items: center;
    background-size: cover;
    border: none;
    background-color:#F5F5DC;
    color: black;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Times New Roman',
}

.dotted-container {
    margin-top: 70px; 
    width: 55%;
 }
 
 .dotted-container-content {
    margin-top: 70px; 
    width: 55%;
    display: flex; 
    margin-bottom: 60px;
    flex-wrap: wrap;
    justify-content: space-between; 
 }
 
 .mini-description {
     text-align: center;
     font-weight: 700;
     font-size: 19px;
     margin-top: 60px;
     margin-bottom: 40px;
     color: white;
     font-family: 'Times New Roman', 
 }
 
 .description {
     text-align: center;
     font-weight: 700;
     font-size: 23px;
     margin-top: 60px;
     margin-bottom: 70px;
     color: white;
     font-family: 'Times New Roman',   
 }
 
 .image {
     margin-left: 135px;
     margin-bottom: 40px;
     border-radius: 50%; 
     overflow: hidden; 
     border: 25px solid black;
     width: 450px;
     height: 400px;
 }

 .order-description {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    font-family: 'Times New Roman',
}

.order-link {
    margin-left: 300px;
    font-weight: 700;
    font-size: 33px;
    cursor: pointer;
    text-decoration: underline black;
    color: white;
    font-family: 'Times New Roman',
}

.image-img {
    margin-bottom: 40px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 15px solid black;
    width: 350px;
    height: 300px;
}

.menu-number {
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman',
} 

.menu-description { 
    margin-top: -50px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman',
}

.amount {
    font-weight: 700;
    font-size: 28px;
    margin-left: 150px; 
    color: rgba(255, 0, 0, 1);
    font-family: 'Times New Roman',
}

.phone-number {
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman',
}
.address {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman',
}

.img {
    align-content: center;
    width: 100%;
    height: 60%;
} 

.about {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Times New Roman',
}

.about-description {
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    margin-bottom: 30px;
    color: white;
}

@media only screen and (min-width: 770px) {
    .image {
        margin-left: 30px;
        width: 350px;
        height: 300px;
    }

    .order-link {
        margin-left: 150px;
        font-weight: 700;
        font-size: 33px;
    }

    .img {
        align-content: center;
        width: 100%;
        height: 50%;
    } 
}

@media only screen and (min-width: 481px) and (max-width:769px) {
    .nav-button {
        font-weight: 400;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }

    h1 {
       font-weight: 500;
        font-size: 20px;
        width: 100%;
    }
    
    .image {
        margin-left: 8px;
        border: 15px solid black;
        width: 250px;
        height: 200px;
    }

    .mini-description {
        font-weight: 400;
        font-size: 15px;
    }
    
    .description {
        text-align: center;
        font-weight: 400;
        font-size: 20px;  
    }


    .order-link {
        margin-left: 80px;
        font-weight: 500;
        font-size: 20px;
    }

    .image-img {
        margin-bottom: 40px;
        border-radius: 50%; 
        border: 15px solid black;
        width: 250px;
        height: 200px;
    }

    .menu-number {
        margin-right: 20px;
        font-weight: 500;
        font-size: 15px;
    } 
    
    .menu-description { 
        margin-top: -50px;
        font-weight: 500;
        font-size: 15px;
    }
    
    .amount {
        font-weight: 300;
        font-size: 15px;
        margin-left: 120px; 
    }

    .phone-number {
        font-weight: 400;
        font-size: 16px;
    }

    .address {
        font-weight: 400;
        font-size: 16px;
    }

    .about {
    font-weight: 500;
    font-size: 16px;
}
}


@media only screen and (max-width: 430px) {
   
    .nav-button {
        font-weight: 400;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }

    h1 {
       
        font-weight: 500;
        font-size: 20px;
        width: 100%;
    }

    .image {
        margin-left: 40px;
        border: 15px solid black;
        width: 150px;
        height: 100px;
    }

    .mini-description {
        font-weight: 400;
        font-size: 12px;
    }
    
    .description {
        text-align: center;
        font-weight: 400;
        font-size: 14px;  
    }

    .order-description {
        font-weight: 400;
        font-size: 14px;
    }
    
    .order-link {
        margin-left: 90px;
        font-weight: 500;
        font-size: 15px;
    }

    .image-img {
        margin-left: 40px;
        margin-bottom: 40px;
        border-radius: 50%; 
        border: 15px solid black;
        width: 150px;
        height: 100px;
    }

    .menu-number {
        margin-right: 5px;
        font-weight: 500;
        font-size: 15px;
    } 
    
    .menu-description { 
        margin-top: -50px;
        font-weight: 500;
        font-size: 15px;
    }
    
    .amount {
        font-weight: 300;
        font-size: 15px;
        margin-left: 100px; 
    }

    .phone-number {
        font-weight: 400;
        font-size: 16px;
    }

    .address {
        font-weight: 400;
        font-size: 16px;
    }

    .about {
    font-weight: 500;
    font-size: 16px;
}
}
